*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  color: $black;
  width: 100%;
  height: 100%;
  font-family: $open;
  font-size: 16px;
  font-weight: normal;
  letter-spacing: 0;
  line-height: 1.7;
  word-break: break-word;
}

a {
  color: $black;
  text-decoration: none;
  @include transition_c(all 0.3s ease-out);

  &:link,
  &:visited {
    color: currentColor;
  }

  &:active,
  &:hover {
    opacity: 0.5;
  }
}

ul {
  list-style: none;
}

button {
  background: none;
  border: none;
  cursor: pointer;
  @include transition_c(all 0.3s ease-out);

  &:focus {
    outline: none;
  }

  @include respond(hover) {
    &:hover {
      opacity: 0.5;
    }
  }
}

img {
  height: auto;
  vertical-align: middle;
}

input {
  &:focus {
    outline: none;
  }
}

.container {
  width: calc(100% - 30px);
  max-width: 1024px;
  margin: 0 auto;
}