.header {
  position: fixed;
  color: $white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 20px;
  top: 0;
  left: 0;
  z-index: 100;

  &__left {
    font-size: 0;

    svg {
      height: 50px;
    }
  }

  &__right {
    .list {
      display: flex;
      align-items: center;
      font-size: 16px;

      a {
        padding: 2px 0;

        &:not(:first-child) {
          margin-left: 15px;
        }

        &.current-user {
          display: flex;
          align-items: center;

          .avatar {
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            border-radius: 50%;
            width: 32px;
            height: 32px;
            margin-left: 12px;
          }
        }
      }
    }
  }

  &--scroll {
    color: $black;
  }
}