.header {
  position: fixed;
  color: $white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 20px;
  top: 0;
  left: 0;
  z-index: 100;

  &__left {
    font-size: 0;

    svg {
      height: 50px;
    }
  }

  &__right {
    .list {
      font-size: 16px;

      a {
        &:not(:first-child) {
          margin-left: 15px;
        }
      }
    }
  }

  &--scroll {
    color: $black;
  }
}