@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  background: #fafafa;
  color: #000;
  width: 100%;
  height: 100%;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: normal;
  letter-spacing: 0;
  line-height: 1.7;
  word-break: break-word; }

a {
  color: #000;
  text-decoration: none;
  position: relative;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out; }
  a.not-hover::before {
    display: none; }
  a::before {
    content: '';
    position: absolute;
    background: #fff;
    width: 100%;
    height: 2px;
    bottom: -2px;
    left: 0;
    transform-origin: center right;
    -webkit-transform: scaleX(0);
    -moz-transform: scaleX(0);
    -ms-transform: scaleX(0);
    -o-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: transform 0.3s cubic-bezier(0.4, 0, 0, 1);
    -moz-transition: transform 0.3s cubic-bezier(0.4, 0, 0, 1);
    -ms-transition: transform 0.3s cubic-bezier(0.4, 0, 0, 1);
    -o-transition: transform 0.3s cubic-bezier(0.4, 0, 0, 1);
    transition: transform 0.3s cubic-bezier(0.4, 0, 0, 1); }
  a:link, a:visited {
    color: currentColor; }
  a:active, a:hover {
    opacity: 1; }
    a:active.not-hover, a:hover.not-hover {
      opacity: 0.5; }
    a:active::before, a:hover::before {
      transform-origin: center left;
      -webkit-transform: scaleX(1);
      -moz-transform: scaleX(1);
      -ms-transform: scaleX(1);
      -o-transform: scaleX(1);
      transform: scaleX(1); }

ul {
  list-style: none; }

button {
  background: none;
  border: none;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out; }
  button:focus {
    outline: none; }
  @media only screen and (min-width: 48em) {
    button:hover {
      opacity: 0.5; } }

img {
  height: auto;
  vertical-align: middle; }

input:focus {
  outline: none; }

.container {
  width: calc(100% - 30px);
  max-width: 1024px;
  margin: 0 auto; }
  .container--small {
    max-width: 880px; }

.header {
  position: fixed;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 20px;
  top: 0;
  left: 0;
  z-index: 100; }
  .header__left {
    font-size: 0; }
    .header__left svg {
      height: 50px; }
  .header__right .list {
    font-size: 16px; }
    .header__right .list a:not(:first-child) {
      margin-left: 15px; }
  .header--scroll {
    color: #000; }

.sidebar {
  width: 36%; }

#home .first-view {
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  position: relative; }
  #home .first-view--1 {
    background-image: url("./img/bg_1.jpg"); }
  #home .first-view--2 {
    background-image: url("./img/bg_2.jpg"); }
  #home .first-view--3 {
    background-image: url("./img/bg_3.jpg"); }
  #home .first-view--4 {
    background-image: url("./img/bg_4.jpg"); }
  #home .first-view--5 {
    background-image: url("./img/bg_5.jpg"); }
  #home .first-view--6 {
    background-image: url("./img/bg_6.jpg"); }
  #home .first-view--7 {
    background-image: url("./img/bg_7.jpg"); }
  #home .first-view--8 {
    background-image: url("./img/bg_8.jpg"); }
  #home .first-view--9 {
    background-image: url("./img/bg_9.jpg"); }
  #home .first-view--10 {
    background-image: url("./img/bg_10.jpg"); }
  #home .first-view--11 {
    background-image: url("./img/bg_11.jpg"); }
  #home .first-view--12 {
    background-image: url("./img/bg_12.jpg"); }
  #home .first-view--13 {
    background-image: url("./img/bg_13.jpg"); }
  #home .first-view--14 {
    background-image: url("./img/bg_14.jpg"); }
  #home .first-view--15 {
    background-image: url("./img/bg_15.jpg"); }
  #home .first-view--16 {
    background-image: url("./img/bg_16.jpg"); }
  #home .first-view::before {
    content: '';
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0; }
  #home .first-view .container {
    display: flex;
    justify-content: flex-end;
    position: relative; }
  #home .first-view__quote {
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    height: calc(100vh - 400px);
    font-family: "Montserrat", sans-serif;
    position: relative; }
    #home .first-view__quote .author {
      padding-left: 30px;
      margin-top: 20px;
      position: relative; }
      #home .first-view__quote .author::before {
        content: '';
        position: absolute;
        background: #fff;
        width: 4px;
        height: 1px;
        top: 50%;
        left: 0;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%); }
  #home .first-view__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 220px;
    height: 45px;
    position: absolute;
    bottom: 0;
    left: 0; }
    #home .first-view__btn svg {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0; }
    #home .first-view__btn rect {
      fill: none;
      stroke: #fff;
      stroke-width: 2;
      stroke-dasharray: 580, 0;
      -webkit-transition: all 0.35s linear;
      -moz-transition: all 0.35s linear;
      -ms-transition: all 0.35s linear;
      -o-transition: all 0.35s linear;
      transition: all 0.35s linear; }
    #home .first-view__btn:hover {
      opacity: 1;
      font-weight: bold;
      letter-spacing: 2px; }
      #home .first-view__btn:hover rect {
        stroke-width: 5;
        stroke-dasharray: 15, 402;
        stroke-dashoffset: 48;
        -webkit-transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1);
        -moz-transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1);
        -ms-transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1);
        -o-transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1);
        transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1); }

#home .main-content {
  padding-top: 40px; }
  #home .main-content .container {
    display: flex; }
    #home .main-content .container .blogs {
      width: 64%; }
      #home .main-content .container .blogs__list li:not(:last-child) {
        margin-bottom: 60px; }
      #home .main-content .container .blogs__list li a {
        background: #fff;
        border: 1px solid #dbdbdb;
        display: block; }
        #home .main-content .container .blogs__list li a .author {
          border-bottom: 1px solid #dbdbdb;
          display: flex;
          align-items: center;
          padding: 16px; }
          #home .main-content .container .blogs__list li a .author__avatar {
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            border-radius: 50%;
            width: 32px;
            height: 32px; }
            #home .main-content .container .blogs__list li a .author__avatar--no-img {
              background-image: url("./img/no-image.png"); }
          #home .main-content .container .blogs__list li a .author__username {
            font-size: 14px;
            font-weight: bold;
            margin-left: 14px; }
        #home .main-content .container .blogs__list li a .img__item--no-img {
          padding: 10px; }
        #home .main-content .container .blogs__list li a .img__item img {
          width: 100%; }
        #home .main-content .container .blogs__list li a .info {
          padding: 16px; }
          #home .main-content .container .blogs__list li a .info__content .title strong {
            font-size: 16px; }
          #home .main-content .container .blogs__list li a .info__content .title span {
            font-size: 14px;
            padding-left: 20px;
            position: relative; }
            #home .main-content .container .blogs__list li a .info__content .title span::before {
              content: '';
              position: absolute;
              background: #000;
              width: 4px;
              height: 1px;
              top: 50%;
              left: 8px;
              -webkit-transform: translateY(-50%);
              -moz-transform: translateY(-50%);
              -ms-transform: translateY(-50%);
              -o-transform: translateY(-50%);
              transform: translateY(-50%); }
          #home .main-content .container .blogs__list li a .info__content .des {
            font-size: 13px;
            padding: 10px 0;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis; }
          #home .main-content .container .blogs__list li a .info__content .time {
            color: #8e8e8e;
            font-size: 10px;
            text-transform: uppercase; }
