@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  color: #000;
  width: 100%;
  height: 100%;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: normal;
  letter-spacing: 0;
  line-height: 1.7;
  word-break: break-word; }

a {
  color: #000;
  text-decoration: none;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out; }
  a:link, a:visited {
    color: currentColor; }
  a:active, a:hover {
    opacity: 0.5; }

ul {
  list-style: none; }

button {
  background: none;
  border: none;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out; }
  button:focus {
    outline: none; }
  @media only screen and (min-width: 48em) {
    button:hover {
      opacity: 0.5; } }

img {
  height: auto;
  vertical-align: middle; }

input:focus {
  outline: none; }

.container {
  width: calc(100% - 30px);
  max-width: 1024px;
  margin: 0 auto; }
